ALLOWED_HOSTS=localhost
CSRF_TRUSTED_ORIGINS=http://localhost
DEBUG=True
ENVIRONMENT=development
DATABASE_NAME=arriendos
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres_password
DATABASE_HOST=db
DATABASE_PORT=5432
ENCRYPTION_KEY=123fwefw34twqg34g
SECRET_KEY=django-insecure-0vc+ryg*ml9!_l7r3*mk8lrik8bf6i6q$=v22x_km0_m62xye0
CMF_APIKEY=86e7f6c061eff5f1fdb09dae07a194b65975f748
ROLLBAR_TOKEN=example
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_STORAGE_BUCKET_NAME=tu-bucket
AWS_S3_ENDPOINT_URL=http://minio:9000
AWS_S3_REGION_NAME=us-east-1
AWS_S3_FILE_OVERWRITE=False
AWS_DEFAULT_ACL=None